@import "tailwindcss";

@theme {
  --color-brand: #df14df;
}

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #000000;
    color: #e5e7eb;
    font-family: "Inconsolata", monospace;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span {
    color: var(--color-brand);
  }
}
