<div class="container mx-auto px-4 py-12">
  <div class="max-w-3xl mx-auto">
    <h1 class="text-4xl font-bold mb-6">About Staretz</h1>

    <div class="space-y-6">
      <section>
        <p>
          Staretz is platform where you can store your items, creating your own
          database. Manage your books, videogames, cds, comics, etc. Also you
          can find a blog and articles about programming, music, videogames and
          more.
        </p>
      </section>
      <section class="flex justify-start items-center gap-4">
        <p>Version: <span>1.0.0</span></p>
        <p>
          Author: <a href="https://github.com/lunaticfriki">@lunaticfriki</a>
        </p>
        <p>
          Year: <span>{{ currentYear }}</span>
        </p>
      </section>
    </div>
  </div>
</div>
