---
---

<footer
  class="bottom-0 w-full z-10 bg-[#F4F5F5] dark:bg-[#000000] p-4 transition-colors duration-300"
>
  <div class="flex justify-between items-center w-full max-w-none">
    <div class="flex-1"></div>
    <div
      class="flex-1 text-center font-bold text-gray-700 dark:text-gray-300 text-lg"
    >
      <a
        href="https://github.com/lunaticfriki/staretz"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-brand transition-colors pr-0"
      >
        @lunaticfriki</a
      >,
      <span class="text-brand">2026</span>
    </div>
    <div class="flex-1 flex justify-end">
      <div class="hover:opacity-80 transition-opacity">
        <img
          src="/logo-name-face-black.jpg"
          alt="Staretz Logo Face"
          class="h-14 invert dark:invert-0 opacity-70"
        />
      </div>
    </div>
  </div>
</footer>
