---
import Layout from "../core/ui/layouts/Layout.astro";
---

<Layout title="About Staretz Blog">
  <main class="max-w-2xl flex flex-col items-center m-auto">
    <h2 class="text-4xl font-bold mb-8">Staretz</h2>

    <div
      class="space-y-6 text-lg text-gray-700 dark:text-gray-300 leading-relaxed font-sans"
    >
      <p class="px-4">
        <span class="text-brand">Staretz</span> és un projecte personal sobre qualsevol
        cosa que s'em creui pel davant. Esteu avisats. Fa uns 10 anys volia ser una
        editorial, ara pot ser un espai a internet, com si fóssim als 90, on poder
        parlar de tot el que em sembli. Una xarxa social sense gent. Música, Japó,
        programació, rellotges, teclats mecànics, videojocs i, fins i tot, proclames
        a acabar amb l'entitat genocida sionista. El paradís, vaja.
      </p>
    </div>
  </main>
</Layout>
