---
import Layout from "../core/ui/layouts/Layout.astro";
import PostPreview from "../core/ui/components/PostPreview.astro";
import { DependencyLocator } from "../core/di/DependencyLocator";

const readService = DependencyLocator.getPostReadService();
const stateService = DependencyLocator.getPostStateService();

const fetchedPosts = await readService.getAllPosts();

stateService.setPosts(fetchedPosts);
const postsToRender = stateService.posts;
---

<Layout title="Staretz Blog Home">
  <main class="p-4">
    <div class="flex flex-row flex-wrap justify-center gap-6 w-full mt-10">
      {postsToRender.map((post) => <PostPreview post={post} />)}
    </div>
  </main>
</Layout>
