@import "tailwindcss";

:root {
  font-family: "Inconsolata", monospace;
  line-height: 1.5;
  font-weight: 400;

  /* Color Palette */
  --color-magenta: #ff00ff;
  --color-light-purple: #d8b4fe;
  --color-dark-purple: #581c87;
  
  /* Light Theme Defaults */
  --bg-color: #fcfcfc; /* Almost white */
  --text-color: #1a1a1a;
  --primary-color: var(--color-dark-purple);
  --secondary-color: var(--color-magenta);
  --header-bg: #f3f4f6;
  --footer-bg: #f3f4f6;

  color-scheme: light;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  --bg-color: #121212; /* Almost black */
  --text-color: #e5e5e5;
  --primary-color: var(--color-light-purple);
  --secondary-color: var(--color-magenta);
  --header-bg: #1e1e1e;
  --footer-bg: #1e1e1e;
  
  color-scheme: dark;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

#app {
  width: 100%;
}


span {
  color: var(--primary-color);
}